{% extends 'image/main.html' %}
{% block content %}
<h1>파일 업로드 예제</h1>
<div id="wrap">
    <form method="post" id="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <p>강아지/고양이 이미지 등록</p>
        <p><input type="file" name="file1" id="file1"></p>
        <div>
            <img src="" id="targetImg" style="width:300px">
        </div>
        <p><input type="button" value="등록" id="writeBtn"></p>
    </form>
<script>
    $(function(){
        $('#writeBtn').click(function(){
            $('#form1').attr('action','pass')
            $('#form1').submit()
        });//클릭함수

        //html5 파일 기능
        $('#file1').change(function(){
            //업로드 파일 읽기
            let fileInfo = document.getElementById("file1").files[0];
            console.log(fileInfo)
            let reader = new FileReader();
            //readAsDataURL()을 통해 파일을 읽어들일 때 onload가 실행
            reader.onload=function(){
                document.getElementById("targetImg").src = reader.result;
            };
            if(fileInfo){
                //readAsDataURL()을 통해 파일의 URL을 읽어온다.
                reader.readAsDataURL(fileInfo);
            }
        })//chang 함수
    })//시작함수
</script>
</div>
{% endblock %}


